<div>
    <table>
      <thead>
        <tr>
          <th style="width:30%;">属性</th>
          <th>值</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <th><%= Resume.human_attribute_name(:personality) %></th>
          <td><%= @resume.personality %></td>
        </tr>

        <tr>
          <th><%= Resume.human_attribute_name(:graduation_time) %></th>
          <td><%= @resume.graduation_time %></td>
        </tr>

        <tr>
          <th><%= Resume.human_attribute_name(:familiar_frame) %></th>
          <td><%= @resume.familiar_frame %></td>
        </tr>

        <tr>
          <th><%= Resume.human_attribute_name(:apply_position) %></th>
          <td><%= @resume.apply_position %></td>
        </tr>

        <tr>
          <th><%= Resume.human_attribute_name(:project_experience) %></th>
          <td><%= @resume.project_experience %></td>
        </tr>

        <tr>
          <th><%= Resume.human_attribute_name(:self_evaluation) %></th>
          <td><%= @resume.self_evaluation %></td>
        </tr>

        <tr>
          <th><%= Resume.human_attribute_name(:user_id) %></th>
          <td><%= @resume.user_id %></td>
        </tr>

      </tbody>
    </table>
<div>

<div class="other-actions">
  <%= link_to 'Edit', edit_resume_path(@resume) %> |
  <%= link_to 'Back', resumes_path %>
</div>
